.accordion {
    overflow: hidden;
    margin-bottom: 20px;
}

.accordion__btn {
    cursor: pointer;
    font-weight: 500;
    font-size: 28px;
    line-height: 30px;
    z-index: 1;
    position: relative;
}

.accordion__list {
    transition: .4s;
    pointer-events: none;
    max-height: 0;
}

.accordion--active .accordion__list {
    transition: .4s;
    max-height: 300px;
    padding-top: 15px;
}

.accordion__text {
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 20px;
}