/* style header */
.header {
    padding: 0 310px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    left: 0;
    top: 75px;
    z-index: 10;
}

.header__item {

}