/* style main-content */
.main-content {

}

.main-content__item {
    padding: 130px 310px;
}

.main-content__item--color--grey {
    background: var(--color-shadow);
}

.main-content__title {
    position: relative;
    margin-bottom: 60px;
}

.main-content__title:before {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    background: var(--color-black);
    width: 45px;
    content: "";
}

.main-content__title-text {
    font-size: 48px;
    line-height: 71px;
    color: var(--color-light-black);
}