@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import "team.css";
@import "service.css";
@import "grid.css";
@import "nav.css";
@import "header.css";
@import "main-block.css";
@import "main-content.css";
@import "logo.css";

*, :after, :before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #5B5858;
    list-style: none;
    font-family: 'Oswald', sans-serif;
    -webkit-tap-highlight-color: transparent;
}

img {
    display: block;
}

.page {
    overflow: hidden;
}

/* style main */
.main {
    background: #F2F2F2;
}