/* style team */
.team {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.team__img {
    width: 100%;
    pointer-events: none;
}

.team__block {
    padding: 20px 30px 30px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--color-white);
    opacity: 0.5;
    transform: translateY(66%);
    transition: all .4s ease;
}

.team:hover .team__block {
    transform: translateY(0%);
    opacity: .75;
    transition: all .4s ease;
}

.team__item {
    text-align: center;
}

.team__item:last-of-type {
    margin-top: 12px;
}

.team__item--border {
    padding-bottom: 8px;
    margin-bottom: 6px;
    position: relative;
}

.team__item--border:before {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: var(--color-black);
    content: "";
    width: 45px;
    height: 2px;
}

.team__title {
    color: var(--color-light-black);
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
}

.team__staff {
    color: var(--color-light-black);
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
}

.team__description {
    color: var(--color-light-black);
    font-size: 12px;
    line-height: 25px;
}